.chat-side
  .side-header
    %h3.side-header__user-name
      = current_user.name
    %ul.user-menu
      /アカウントの編集アイコン
      %li.icon
        = link_to do
          = fa_icon 'edit', class: 'icon'
      /グループの新規作成アイコン
      %li.icon
        = link_to edit_user_path(current_user) do
          = fa_icon 'cog', class: 'icon'
  .groups
    .group
      .group__group-name 
        test-group1
      .group__latest-message
        test-message1
    .group
      .group__group-name
        test-group2
      .group__latest-message
        test-message2
    .group
      .group__group-name
        test-group3
      .group__latest-message
        test-message3
  